.v-modal {
  z-index: 1004 !important;
}
.el-autocomplete-suggestion {
  width: auto !important;
}

.c-fixed-loading {
  position: fixed;
  top: 0;
  height: 100%;
  left: 180px;
  right: 0;
  z-index: 2000;
}

.hideSidebar .c-fixed-loading {
  left: 36px;
}
